{% extends 'registration/forms.html' %}

{% block forms %}
<form class="form-signin" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign in</h1>
    <!--<div class="social-login">-->
        <!--<button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign in with Facebook</span> </button>-->
        <!--<button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign in with Google+</span> </button>-->
    <!--</div>-->
    <!--<p style="text-align:center"> OR  </p>-->
    <!--{{ form.as_p }}-->
    <input name="username" type="text" id="id_username" class="form-control" placeholder="Username" required="" autofocus="">
    <input name="password" type="password" id="id_password" class="form-control" placeholder="Password" required="">

    <button class="btn btn-success btn-block" type="submit" name="sign-in"><i class="fas fa-sign-in-alt"></i> Sign in</button>
    <a href="#" id="forgot_pswd">Forgot password?</a>
    <hr>
    <!-- <p>Don't have an account!</p>  -->
    <a href="{% url 'online:signup' %}" class="btn btn-primary btn-block" type="button"><i class="fas fa-user-plus"></i> Sign up New Account</a>
    </form>
{% endblock %}


