{% extends 'registration/forms.html' %}
{% block forms %}
<form action="" class="form-signin" method="post">
    {% csrf_token %}
    <!--<div class="social-login">-->
        <!--<button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook</span> </button>-->
    <!--</div>-->
    <!--<div class="social-login">-->
        <!--<button class="btn google-btn social-btn" type="button"><span><i class="fab fa-google-plus-g"></i> Sign up with Google+</span> </button>-->
    <!--</div>-->

    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Sign up</h1>
    <!--{{ form.as_p }}-->
    <input type="text" id="id_username" name="username" class="form-control" placeholder="Full name" required="" autofocus="">
    <input type="email" id="id_email" name="email" class="form-control" placeholder="Email address" required autofocus="">
    <input type="password" id="id_password1" name="password1" class="form-control" placeholder="Password" required autofocus="">
    <input type="password" id="id_password" name="password2" class="form-control" placeholder="Repeat Password" required autofocus="">

    <button class="btn btn-primary btn-block" type="submit" name="sign-up"><i class="fas fa-user-plus"></i> Sign Up</button>
    <a href="{% url 'login' %}" id="{% url 'login' %}"><i class="fas fa-angle-left"></i> Back</a>
</form>
{% endblock %}
