{% extends 'base_generic.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<style>
.home
{
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 60px;
	padding-right: 60px;
}
</style>
{% endblock %}
{% block content %}
<div class="home">
    <div class="container message">
		{% if messages %}
			<ul>
				{% for message in messages %}
				<li><div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %}">
				<strong>{{ message.tags }}!</strong> {{ message }}
				</div></li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
    {% for ord in order %}
    <div class="jumbotron text-center" style="color:black">
        <div class="row">
            <div class="col-sm-6">
                <div>
                    <p>Order id - {{ ord.code }}</p>
                    <ul>
                        {% for item in ord.orderitem_set.all %}
                        <li> {{ item.no_of_items }} * {{ item.item.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li>{{ ord.date }}</li>
                    <li>&#x20B9;{{ ord.amount }}</li>
                    <li>{% if ord.payment_success %}payment is success
                        {% else %}payment is pending{% endif %}

                    </li>
                </ul>
                <div class="row">
                    <div class="col-sm-6">
                    </div>
                    <div class="col-sm-6">
                        {% if ord.payment_success %}
                        <a href="{% url 'online:ordersummary' ord.pk %}">View summary</a>
                        {% else %}
                        <a href="{% url 'online:payment-create' ord.pk %}">pay this</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
{% endblock %}