{% extends 'base_generic.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<style>
.home
    {
	width: 100%;
	background: #FFFFFF;
	z-index: 2;
	padding-top: 130px;
	padding-left: 60px;
	padding-right: 60px;
}
.success{
    margin-top:50px;
    }

</style>
{% endblock %}
{% block content %}
<div class="container home">
    <div class="row align-self-center">
        <div class="col-md-6">
            <div>
                <img src="{% static 'image/payment_success.png' %}">
            </div>

        </div>
        <div class="col-md-6 align-self-center">
            <h2>Thanks for purchase</h2>

        </div>
    </div>
    <div class="container success">
        <a class="btn btn-primary btn-block" href="{% url 'online:ordersummary' order.pk %}">View invoice</a>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script src="{% static 'plugins/easing/easing.js' %}"></script>
<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
{% endblock %}